</div>
<footer>
  <div class="details">
    <a href="http://sheltr.github.com/">Sheltr</a> is a <a href="http://rhok.org/">RHoK</a> project.
  </div>
  <div class="user">
    <ul>
      <!-- commented out until admin finished
      <li><a href="/about">About</a></li>
      {if user}
        <li><a href="/admin">Admin</a></li>
        <li><a href="/logout">Log out</a></li>
      {else}
        <li><a href="/login">Log in</a></li>
      {/if}
      -->
    </ul>
  </div>
</footer>
<script src="//code.jquery.com/jquery-1.7.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{gaAccount}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
