</div>
<footer>
  <p><a href="https://github.com/sheltr/sheltr">Sheltr</a> is a <a href="http://rhok.org/">RHoK</a> project.</p>
</footer>
<script src="//code.jquery.com/jquery-1.7.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{gaAccount}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
