* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font: normal 100%/1.28571429 Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* https://github.com/paulirish/html5-boilerplate/blob/362d0b7/css/style.css#L35 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #fc3;
}

a:active {
  color: #f90;
}

header {
  width: 85%;  
  margin: 0 auto;
  padding-top: 30px;
}

header h1 {
  text-align: center;  
  margin-bottom: 30px;
}

header h1 a {
  background: url('../img/sheltr-logo-desktop.png') no-repeat 0 0;  
  display: block;
  width: 315px;
  height: 110px;
  margin: 0 auto;
  text-indent: -5000px;
}

.container {
  width: 100%;  
}

form {
  width: 85%;  
  margin: 0 auto;
  margin-bottom: 30px;
}

form input.text {
  margin: 0 auto;
  margin-bottom: 5px;
  width: 55%;  
  border: 1px solid #bbb;
  font-size: 2em;
  padding: .5em .25em;
  text-align: center;
  display: block;
  font-family: inherit;
}

form button.submit {
  font-size: 22px;
  padding: .5em .25em;
  font-family: inherit;
  display: block;
  margin: 0 auto;
  width: 25%;
}

form button.submit:hover {
  cursor: pointer;
}

#map {
  width: 960px;
  height: 800px;
  margin: 0 auto;
}

footer {}

@media screen and (max-device-width: 480px) {
  header {
    padding-top: 5%;
  }

  h1 a {
    background: url('../img/sheltr-logo-mobile.png') no-repeat 0 0;
    width: 200px;
    height: 70px;
  }

  form {
    margin-bottom: 5%;
    width: 95%;
  }

  form input.text {
    font-size: 1.8em;
    width: 95%;
    padding: .15em 0 .15em .15em;
  }

  form button.submit {
    width: 50%;
    padding: 0;
    font-size: 1.25em;
    padding: 0;
  }

  .map-container {
    width: 90%;
    height: 95%;
    position: absolute;
    left: 5%;
  }

  #map {
    margin: 0 auto;
    width: 100%;
    height: 100%;

  }

  footer {
    bottom: 0;
  }
}
