body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
/* https://github.com/paulirish/html5-boilerplate/blob/362d0b7/css/style.css#L35 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #fc3;
}
a:active {
  color: #f90;
}

header {
  width: 960px;  
  margin: 0 auto;
}

header h1 {
  text-align: center;  
  margin-bottom: 30px;
}

form {
  width: 960px;  
  margin: 0 auto;
  margin-bottom: 30px;
}

form input.text {
  margin: 0 auto;
  margin-bottom: 5px;
  width: 500px;  
  height: 50px;
  border: 1px solid #bbb;
  font-size: 18px;
  text-align: center;
  display: block;
  font-family: inherit;
}

form button.submit {
  font-size: 22px;
  padding: 10px 20px;
  font-family: inherit;
  display: block;
  margin: 0 auto;
  width: 500px;
}

form button.submit:hover {
  cursor: pointer;
}

.map-container {
  width: 100%;  
  height: 100%;
  position: absolute;
}

#map {
  width: 100%;
  height: 100%;
}
