html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font: normal 100%/1.28571429 Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* https://github.com/paulirish/html5-boilerplate/blob/362d0b7/css/style.css#L35 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  color: #188db8;
  text-decoration: none;
}

a:hover {
  color: #333;
}

article {
  width: 85%;  
}

h1 {
  margin-bottom: 15px;
}

header {
  margin: 0 auto;
  padding-top: 30px;
  width: 960px;  
}

header h1 {
  text-align: center;  
}

header h1 a {
  background: url('../img/sheltr-logo-desktop.png') no-repeat 0 0;  
  display: block;
  width: 315px;
  height: 110px;
  margin: 0 auto;
  text-indent: -5000px;
  margin-bottom: 30px;
}

footer {
  margin: 20px auto;
  width: 960px;
}

.details {
  float: right;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.edit {
  float: right;
}

table {
  border:  1px solid #666;
  border-collapse: collapse;
  margin-bottom: 15px;
}

table td, table th {
  padding:  4px;
  text-align: left;
  border: 1px solid #ddd;
  vertical-align: top;
}

table tr:nth-child(odd) {
  background-color: #eee;
}

table tr:nth-child(even) {
  background-color: #fff;
}

.menu li {
  float: right;
  margin: 0 20px 0 0;
}

.menu ul {
  list-style: none outside none;
  overflow: auto;
  padding: 0;
}

form {
  width: 85%;  
  margin: 0 auto;
  margin-bottom: 30px;
}

textarea, input[type="text"] {
  width: 300px;
}

textarea {
  height: 50px;
}

ul.needs {
  display: none;
  list-style: none;
  margin: 0 auto;  
  margin-bottom: 20px;
  padding: 0;
  width: 75%;
}

ul.needs.visible {
  display: block;
}

ul.needs li {
  border-top: 1px solid #ccc;
  padding: 5px 0;
  text-align: center;
}

ul.needs li h2 {
  font-size: 1.5em;  
}

form input.text {
  margin: 0 auto;
  margin-bottom: 5px;
  width: 75%;  
  border: 1px solid #bbb;
  font-size: 1.8em;
  padding: .5em .25em;
  text-align: center;
  display: block;
  font-family: inherit;
}

form button.submit {
  font-size: 1.4em;
  padding: .5em .25em;
  font-family: inherit;
  display: block;
  margin: 0 auto;
  width: 25%;
}

form button.submit:hover {
  cursor: pointer;
}

#map {
  width: 960px;
  height: 800px;
  margin: 0 auto;
}


@media screen and (max-device-width: 480px) {
  header {
    margin-bottom: 0;
    padding-top: 5%;
    width: 100%;
  }

  header h1 {
    margin-bottom: 0;
  }

  h1 a {
    width: 200px;
    height: 70px;
    max-width: 100%;
    background-size: contain;
    overflow: hidden;
    margin-bottom: 0;
  }

  footer {
    width: 100%;
  }

  form {
    margin-top: -20px; /*because we can't seem to change the h1 margin-bottom for mobile*/
    margin-bottom: 5%;
    width: 95%;
  }

  form input.text {
    font-size: 1.6em;
    width: 95%;
    padding: .15em 0 .15em .15em;
  }

  form button.submit {
    width: 50%;
    padding: 0;
    font-size: 1.2em;
    padding: 0;
  }

  ul.needs {
    width: 90%;
    margin-left:5%;
  }

  .map-container {
    width: 90%;
    height: 95%;
    position: absolute;
    left: 5%;
  }

  #map {
    margin: 0 auto;
    width: 100%;
    height: 100%;

  }

  .container{
    width: 100%;
  }
}
