{>header}
  <h2>The Problem:</h2>
  <p>In many cities, there is no centralized information repository to serve the immediate needs of the homeless and hungry. In Philadelphia, for example, there are 40 shelters and 4 intake centers, and an unknown number of organizations that provide food &mdash; real-time communication between them is minimal to non-existent. As a consequence, there is no easy and accurate way to guide people in need to available shelters and meals.</p>
  <h2>The Goal:</h2>
  <p>To quickly and accurately guide persons in need to closest available and open food and shelter resources.</p>
  <h2>The Solution:</h2>
  <p>A mobile-friendly web app that provides information to guide individuals to an intake center, a place where meals can be accessed, and a place to sleep for the night.</p>
  <p>The app is targeted toward agencies, individuals serving people in need, and the public. Shelters often cater to specific demographic groups:</p>
  <ol>
    <li>Single men</li>
    <li>Single women</li>
    <li>Families</li>
    <li>Those with special needs (ex. physical abuse, substance abuse, mental health illness)</li> 
  </ol>
  <p>Currently there is no way to gauge real-time availability of food and shelter services for these disparate groups. The Philly Sheltr Project establishes consolidated baseline information (service availability), contact for intake centers, and specific instructions to access resources.</p>
  <h2>The Team:</h2>
  <p>Sheltr was developed at Random Hacks of Kindness Philadelphia in December 2011.</p>
  <p>You can contact us in the following ways:</p>
  <ul>
    <li>Email hello (at) sheltr (dot) org for questions or feedback.</li>
    <li>Twitter: <a href="http://twitter.com/getsheltr">@getsheltr</a></li>
    <li><a href="http://www.facebook.com/pages/Sheltr-find-basic-human-needs-food-shelter/251641011566002">Facebook Fan Page</a></li>
  </ul>
  {>footer}
  </body>
</html>
