<h2>Kids eat free all summer in Philly!</h2>

<h3>What are summer meals?</h3>
<p>There are nearly 1,000 places in Philadelphia that offer free breakfast, lunch and snacks to kids and teens age 18 and under.
Sites include recreation centers, schools, churches, housing complexes and community organizations.</p>

<h3>Ways to find my nearest summer meals site?</h3>
<ul>
  <li><a href="http://www.phillysummerfood.org">PhillySummerFood.org</a></li>
  <li>Call the toll-free Philly Summer Meals Hotline: 1-855-252-MEAL (6325)</li>
  <li>Text "MEAL" to 84700</li>
</ul>

<h3>Who can get summer meals?</h3>
<p>Kids and teens age 18 and under. There are no income requirements or registration in qualifying areas.</p>

<h3>Why are summer meals important?</h3>

<p>During the school year, thousands of low-income students eat free or reduced-price meals at schools. But when school is out and kids aren’t receiving that food, children face higher risks for hunger and malnutrition. Summer meals help to fill that gap, so kids have the nutritious food they need to stay healthy all summer.</p>

<h3>Can I start a summer meals site in my community?</h3>

<p>If you plan to work with children age 18 and under this summer, you may qualify to serve them free meals. For more information on how to start a site, contact Nutritional Development Services: 215-895-3470 option 1.</p>

<h3>Spread the Word!</h3>

<p>No kid should go hungry in Philadelphia this summer, with nearly 1,000 sites offering free summer meals.</p>

<ul>
  <li><a href="http://org2.democracyinaction.org/o/6777/p/salsa/web/tellafriend/public/?tell_a_friend_KEY=9105">E-mail family, friends and neighbors about summer meals</a></li>
  <li><a href="http://www.hungercoalition.org/summer-meals/outreach">Download summer meals flyers for your community</a></li>
  <li>Contact: 1-855-252-MEAL, <a href="mailto:info@hungecoalition.org">info@hungercoalition.org</a></li>
</ul>

<em>Summer meals are made available by the USDA’s Summer Food Service Program and Seamless Summer Option. Philadelphia sponsors include the Department of Parks & Recreation; Nutritional Development Services, Archdiocese of Philadelphia; and the Philadelphia Housing Authority.</em>


<h3>Developed by the <a href="http://www.sheltr.org">Sheltr.org</a> Team</h3>

<p><a href="http://www.phillysummerfood.org">PhillySummerFood.org</a> is powered by <a href="http://www.sheltr.org">Sheltr.org</a></p>

<p>Sheltr is the search engine for basic human needs.  Sheltr helps people find the closest available food, shelter, medical clinic, social service and other basic human needs.</p>

<p><a href="http://www.phillysummerfood.org">PhillySummerFood.org</a> was created by the Sheltr team to help the Hunger Coalition provide a simple web app that would use your location to find the nearest available Summer Food location. </p>

<p>Sheltr was developed at Random Hacks of Kindness Philadelphia in December 2011.  Sheltr has since expanded to numerous cities.</p>

<p>You can contact us in the following ways:</p>

<ul>
  <li>Email hello (at) sheltr (dot) org for questions or feedback.</li>
  <li>Twitter: <a href="http://www.twitter.com/getsheltr">@getsheltr</a></li>
  <li><a href="http://www.facebook.com/sheltr">Facebook Fan Page</a></li>
</ul>