{>header}
  <section class="admin">
    <p>{response}</p>
    <h1>Admin</h1>
    <h2>Add user</h2>
    <form method="post">
      <p><label for="user">Username: </label><input id="user" name="user" type="text"/></p>
      <p><label for="email">Email: </label><input id="email" name="email" type="text"/></p>
      <p><label for="pass">Password: </label><input id="pass" name="pass" type="password"/></p>
      <p><input name="add" type="submit"/>
    </form>
    <h2>Delete user</h2>
    <form method="post">
      <p><label for="user">Username: </label><input id="user" name="user" type="text"/></p>
      <p><input name="del" type="submit"/>
    </form>
  </section>
  {>footer}
  </body>
</html>
