    {>header}
    <form class="submit">
      <input class="addr text" placeholder="Enter a Philadelphia address to find homeless shelters" type="text" />
      <div class="buttons"> 
        <label id="checkbox-label-food"><input type="checkbox" value="Food" checked="true" id="checkbox-food"/>Food</label>
        <label id="checkbox-label-shelter"><input type="checkbox" value="Shelter" checked="true" id="checkbox-shelter"/>Shelter</label>
        <button class="submit">Submit</button>
      </div>
    </form>
    <ul class="locations"></ul>
    <div class="map-container"><a href="map"></a>
      <div id="map"></div>
    </div>
    {>footer}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/js/sh.locations.js"></script>
    <script type="text/javascript" src="/js/sh.map.js"></script>
    <script type="text/javascript">
      if (typeof sheltr === 'undefined' || !sheltr) {
        sheltr = {};
      }

      sheltr.state = {}; //global object through which we can share data

      $(document).ready(function() {

        sheltr.getUserLocation = function(){

          // Try W3C Geolocation
          if (navigator.geolocation) { //geolocation supported
            navigator.geolocation.getCurrentPosition(function(position) {
              var userLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
              
              //save position
              sheltr.state.userLocation = userLocation;

              //get locations based on user location
              sheltr.getLocations(userLocation,true);

              //setup map
              sheltr.map.updateMapCenter(userLocation);
              sheltr.map.createMarker(userLocation, 'Your Location', {
                animation: google.maps.Animation.DROP,
                draggable: true,
                icon: '/img/you.png',
                shadow: sheltr.map.markerShadow
              });
            }, function() { //geolocation denied  
            });
          } else { //geolocation not supported
          }
        };

        sheltr.getLocations = function(userLocation, plot) {

          plot = false || plot;

          var lat = parseFloat(userLocation.lat());
          var lng = parseFloat(userLocation.lng());

          $.ajax({
            url: '_map?lat=' + lat + '&long=' + lng,
            success: function(data) {
              if (!data.error || data.error !== 'Unauthorized') { // NOTE: what other error scenarios do we need to consider?
                sheltr.state.locations = data;
                if (plot === true && data.error !== 'Unauthorized') {
                  sheltr.map.addLocationsToMap(data);
                }
                sheltr.locations.list(data);
              }
            },
            error: function() {
              if (window.console) {
                console.log('AJAX error!');
              }
            }
          });

        };

        sheltr.map.create();
        sheltr.getUserLocation();

        var submitButton = $('button.submit');
        $('button.submit').bind('click', function () {
          sheltr.map.geocode($('input.addr').val());
          return false;
        });

        $('#checkbox-label-food').bind('click', function() {
          if ($('#checkbox-food').prop('checked') == false) {
            $('#checkbox-food').prop('checked',true);
          } else {
            $('#checkbox-food').prop('checked',false);
          }
        });

        $('#checkbox-label-shelter').bind('click', function() {
          if ($('#checkbox-shelter').prop('checked') == false) {
            $('#checkbox-shelter').prop('checked',true);
          } else {
            $('#checkbox-shelter').prop('checked',false);
          }
        });

      });
    </script>
  </body>
</html>
