    {>header}
    <form class="submit">
      <input class="addr text" placeholder="Enter a Philadelphia address to find homeless shelters" type="text" />
      <button class="submit">Submit</button>
    </form>
    <ul class="locations"></ul>
    <div class="map-container"><a href="map"></a>
      <div id="map"></div>
    </div>
    {>footer}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/js/sh.locations.js"></script>
    <script type="text/javascript" src="/js/sh.map.js"></script>
    <script type="text/javascript">
      if (typeof sheltr === 'undefined' || !sheltr) {
        sheltr = {};
      }

      sheltr.state = {}; //global object through which we can share data
      
      $(document).ready(function() {

        sheltr.getUserLocation = function(){

          // Try W3C Geolocation
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              userLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
              
              //get locations based on user location
              sheltr.map.getLocations(userLocation,true);

              //setup map
              sheltr.map.create({ center: userLocation });
              sheltr.map.updateMapCenter(userLocation);
              sheltr.map.createMarker(userLocation, 'Your Location', {
                animation: google.maps.Animation.DROP,
                draggable: true,
                icon: '/img/you.png',
                shadow: sheltr.map.markerShadow
              });

            }, function() {
              sheltr.map.create();
            });
          }
        }

        sheltr.getUserLocation();

        var submitButton = $('button.submit');
        $('button.submit').bind('click', function () {
          sheltr.map.geocode($('input.addr').val());
          return false;
        });

      });
    </script>
  </body>
</html>
