    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/js/sh.locations.js"></script>
    <script type="text/javascript" src="/js/sh.map.js"></script>
    <script type="text/javascript">
      if (typeof sheltr === 'undefined' || !sheltr) {
        sheltr = {};
      }

      sheltr.state = {}; //global object through which we can share data
      sheltr.state.showShelter = true;
      sheltr.state.showFood = true;

      sheltr.state.localSettings = {
        "boundingBox" : new google.maps.LatLngBounds(new google.maps.LatLng(39.8480851,-75.395736), new google.maps.LatLng(40.15211,-74.863586)),
        "minZoom": 12,
        "mapCenter" : new google.maps.LatLng(39.95240, -75.16362),
        "city" : "Philadelphia",
        "state" : "PA"
      };   

      $(document).ready(function() {

        sheltr.getUserLocation = function(){

          // Try W3C Geolocation
          if (navigator.geolocation) { 
            //geolocation supported
            navigator.geolocation.getCurrentPosition(function(position) {
              var userLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

              //save position
              sheltr.state.userLocation = userLocation;

              $('.addr.text').val('Your Location');

              if (sheltr.state.localSettings.boundingBox.contains(userLocation))  {
                //get locations based on user location
                sheltr.getLocations(userLocation,true);

                //setup map
                sheltr.map.updateMapCenter(userLocation);
                sheltr.map.createMarker(userLocation, 'Your Location', {
                  animation: google.maps.Animation.DROP,
                  draggable: true,
                  icon: '/img/you.png',
                  shadow: sheltr.map.markerShadow
                });

              } else {
                 $('#userMsg').show().empty().prepend("We detected that you are outside of the " + sheltr.state.localSettings.city + " region.<br>Please search for a " + sheltr.state.localSettings.city + " address.");
                return;
              }

            }, function() { 
              //geolocation denied  
            });
          } else { 
            //geolocation not supported
          }
        };

        sheltr.getLocations = function(userLocation, plot) {

          //filtering
          if($('#checkbox-food').is(':checked')) {
            sheltr.state.showFood = true;
          } else {
            sheltr.state.showFood = false;
          }

          if($('#checkbox-shelter').is(':checked')) {
            sheltr.state.showShelter = true;
          } else {
            sheltr.state.showShelter = false;
          }
          
          plot = false || plot;

          var lat = parseFloat(userLocation.lat());
          var lng = parseFloat(userLocation.lng());

          $.ajax({
            url: 'api?lat=' + lat + '&long=' + lng,
            success: function(data) {
              if (!data.error || data.error !== 'Unauthorized') { // NOTE: what other error scenarios do we need to consider?
                sheltr.state.locations = data;
                if (plot === true && data.error !== 'Unauthorized') {
                  sheltr.map.addLocationsToMap(sheltr.state.locations);
                }
                sheltr.locations.list(sheltr.state.locations);
              }
            },
            error: function() {
              if (window.console) {
                console.log('AJAX error!');
              }
            }
          });

        };

        sheltr.map.create();
        sheltr.getUserLocation();

        $('button.submit').bind('click', function(){
          if (sheltr.state.userLocation && $('input.addr').val() == 'Your Location') {
            sheltr.getLocations(sheltr.state.userLocation, true);
            return false;
          } else {
            sheltr.map.geocode($('input.addr').val());
            return false;
          }

        });

      });
    </script>
