    {>partials.header}
    <p>Where are you input</p>
    <p>Listings</p>
    <p>Optional Map (check for viewport/js)</p>
    <p>Links to more information/shelter mgmt</p>
    <div class="map-container">
      <div id="map"></div>
    </div>
    {>partials.footer}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="static/js/sh.map.js"></script>
    <script type="text/javascript">
        var shelters = {
          'shelters': [{'lat':39.955,'lng':-75.173,'desc':'Shelter 1'},
									 {'lat':39.997,'lng':-75.153,'desc':'Shelter 2'},
									 {'lat':40,'lng':-75,'desc':'Shelter 3'}]};

      $(document).ready(function() {
        var map = new SH.map(); 
        map.orientUser();
      });
    </script>
  </body>
</html>
