<!doctype html>
<html>
  <head>
    <title>{if not title}Sheltr{/if}{title}</title>
    <link href="/css/base.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{appSettings.gaAccount}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <header>
      <div class="top-row">
        <div class="menu">
          <ul>
            <li><a href="http://getsheltr.tumblr.com">Blog</a></li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/hotline">Hotline</a></li>
          </ul>
        </div>
      </div>
      <h1><a href="/">{if appSettings.logo}<img src="{appSettings.logo}">{else}<img src="img/sheltr-logo-desktop.png">{/if}</a></h1>
    </header>
    <div class="container">
      {>body}
    </div>
    <footer>
      <p class="details">
        <a href="http://sheltr.github.com/">Sheltr</a> is a <a href="http://rhok.org/">RHoK</a> project.
      </p>
    </footer>
    <script src="//code.jquery.com/jquery-1.7.min.js"></script>
    <script src="//documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="/js/base.js"></script>
    {>scripts}
  </body>
</html>
