  <section class="location">
    {if edit}
      <div class="edit"><a href="/{loc.id}/edit">Edit</a></div>
    {/if}

    <div class="location-header">
      <h1>
        {loc.name}
        <span class="subtitle">
          {loc.Services}
        </span>
      </h1>
    </div>
    <div class="info-container">
      <table>

        <tr>
          <th>Address</th>
          <td>
            {loc.address1}
            {if loc.address2}
              <br />{loc.address2}
            {/if}
            {loc.postalCode}
          </td>
        </tr>

        {if loc.phone}
          <tr>
            <th>Phone</th>
            <td>
              {loc.phone}
            </td>
          </tr>
        {/if}

        {if loc.website}
          <tr>
            <th>Website</th>
            <td>
              <a href="{loc.website}">{loc.website}</a>
            </td>
          </tr>
        {/if}

        {if loc.donate_url}
          <tr>
            <th>Donate</th>
            <td>
              <a href="{loc.donate_url}">Donate here</a>
            </td>
          </tr>
        {/if}

        {if loc.status}
          <tr>
            <th>Status</th>
            <td>
              {loc.status}
            </td>
          </tr>
        {/if}

        {if loc.hoursNotes}
          <tr>
            <th>Hours Notes</th>
            <td>
              {loc.hoursNotes}
            </td>
          </tr>
        {/if}

        {if loc.notes}
          <tr>
            <th>Notes</th>
            <td>
              {loc.notes}
            </td>
          </tr>
        {/if}

        {if loc.otherServices}
          <tr>
            <th>Other Services</th>
            <td>
              {loc.otherServices}
            </td>
          </tr>
        {/if}

        <tr>
          <th>Is Shelter</th>
          <td>
            {if loc.isShelter}
              Yes
            {else}
              No
            {/if}
          </td>
        </tr>

        <tr>
          <th>Is Intake Center</th>
          <td>
            {if loc.isIntake}
              Yes
            {else}
              No
            {/if}
          </td>
        </tr>

        <tr>
          <th>Provides Meals</th>
          <td>
            {if loc.isFood}
              Yes
            {else}
              No
            {/if}
          </td>
        </tr>
      </table>
      {if loc.isShelterAndNotIntake}
        <p>Note: Most shelters require residents to be preprocessed at an Intake Center.</p>
      {/if}
    </div>

    <div class="location-map-container">
      <div id="location-map"></div>
    </div>

  </section>
