{>header}
	<div id="logos">
		<h2>National Partners</h2>
        <a href="http://www.summerfood.usda.gov/"><img src="img/SummerFoodProgramLogo-248x248.jpeg"/></a>
		<a href="http://www.usda.gov/wps/portal/usda/usdahome"><img src="img/usda-logo-large.jpeg"/></a>
        <a href="http://www.rhok.org"><img src="img/rhok_logo.png"/></a>
		<h2>Philadelphia Partners</h2>
		<a href="http://www.hungercoalition.org/"><img src="img/cah_logo.jpg"/></a>
        <a href="http://www.phila.gov/"><img src="img/philadelphia_logo.gif"/></a>
        <a href="http://www.sheltr.org/"><img src="img/sheltr-logo-desktop.png"/></a>
  </div>
  {>footer}
  </body>
</html>
